  <div class="card mb-3" style="width: auto; height: auto;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{incidence.imageURL}}" class="card-img" alt="incidence.Encabezado">
            <h5>{{incidence.Fecha}}</h5>
          </div>
  <table>
        <tr>
            <thead>{{incidence.Cine}}</thead>
            <td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;{{incidence.Encabezado}}</td>
        </tr>
        <tr>
            <thead>{{incidence.Aprovacion}}</thead>
            <td>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;{{incidence.Descripcion}}</td>
        </tr>
  </table>
  <style>
p {position: relative; left: 300px; top: 50 px;}
</style>
 
  </div>
</div>

