 <style>
  
            h5 span {font-family: Verdana, Geneva, Tahoma, sans-serif; color:rgba(7, 42, 61, 0.829)}
            p span {font-family: Verdana, Geneva, Tahoma, sans-serif; color:rgba(7, 42, 61, 0.829)}
            </style>
      
      <div class="card w-100">
          <button class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#modalAddTheaterChecker">Asignar Cine</button>
 
              <div class="card-body">
                  
                  <h5 class="card-title"><img class="img-fluid" width="25" height="25" src="{{checker.imageURL}}" alt="{{checker.imageURL}}"> &#160;&#160;Checker: {{checker.checkerName}}</h5>
                <p class="card-text"><i class='far fa-envelope' style='font-size:24px'></i>&#160;&#160; Email: {{checker.checkerMail}}</p>
              </div>
      
            </div>
      
        <div class="card-deck">
          <div class="card col-3 col-sm-3 col-md-3 col-lg-3"  *ngFor="let theater of toArray(checker.asignedTheaters)| paginate: {itemsPerPage:3, currentPage: pageActual}; let i = index" >
            <div class="card-body">
              <h5  routerLink="/cinedetail/{{theater.key}}"  class="card-title">{{theater.Cine}}</h5>
              <p class="card-text">  {{theater.Ciudad}}</p>
              <p class="card-text">{{theater.Circuito}}</p>
              <footer>
                <!--   <button class="btn btn-primary" data-toggle="modal" data-target="#modalAddTheaterChecker" (click)="onPreUpdateAssigTheater(theater)">Update</button> -->
                  &#160;&#160;&#160; 
                  <button class="btn btn-danger" (click)="deleteAssigTheater(theater.key)">Delete</button>
              </footer>
            </div>
          </div>
        </div>
        <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
        <app-asig-theater-checker></app-asig-theater-checker>
      
<!--        
    <h2>Checker Ubication</h2>
    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map> -->