<style>
  div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(7, 42, 61, 0.829);
  }
  h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgba(7, 42, 61, 0.829);
  }
  a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(7, 42, 61, 0.829);
  }
  h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(7, 42, 61, 0.829);
  }

  .linkTitle {
    cursor: pointer;
  }
</style>
<style>
  h6 {
    text-align: center;
  }
  .header {
    position: fixed;
    z-index: 200;
    top: 3%;
    left: 50%;
  }
</style>

<h1 class="header">
  Peliculas Sony
</h1>

<div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4 w-50 mx-auto">
  <div class="input-group">
    <div class="input-group-append">
      <button
        id="button-addon1"
        type="submit"
        class="btn btn-link text-primary"
      >
        <i class="fa fa-search"></i>
      </button>
    </div>
    <input
      type="text"
      placeholder="Buscar"
      aria-label="Search"
      [(ngModel)]="searchTerm"
      class="form-control border-0 bg-light"
      mdbInput
    />
  </div>
</div>

<div class="container-fluid center row py-0 my-2   w-100">
  <button
    class="btn btn-primary mb-0 mx-auto"
    data-toggle="modal"
    data-target="#modalAddSonyTitle"
  >
    Agregar Titulo
  </button>
</div>

<section class="row mt-5">
  <div class="col">
    <section id="sonyTitle" class="mt-5">
      <div class="container">
        <div class="row">
          <div
            class="col-xs-12 col-sm-6 col-md-4"
            *ngFor="
              let sonyTitle of sonyTitles
                | titleSonyFilter: searchTerm
                | paginate: { itemsPerPage: 3, currentPage: pageActual };
              let i = index
            "
          >
            <div class="card_book">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid cardImage"
                      src="{{ sonyTitle.imageURL }}"
                    />
                  </p>
                  <h5
                    routerLink="/sonyTitle/{{ sonyTitle.key }}"
                    class="card-title linkTitle"
                  >
                    {{ sonyTitle.movieName }}
                  </h5>

                  <p class="card-text">
                    {{ sonyTitle.releaseDate }}
                  </p>
                  <p class="card-text">
                    {{ sonyTitle.studio }}
                  </p>
                  <footer>
                    <button
                      class="btn btn-primary"
                      data-toggle="modal"
                      data-target="#modalAddSonyTitle"
                      (click)="onPreUpdateSonyTitle(sonyTitle)"
                    >
                      Actualizar
                    </button>
                    &#160;&#160;&#160;
                    <button
                      class="btn btn-danger"
                      (click)="deleteSonyTitle(sonyTitle.key)"
                    >
                      Eliminar
                    </button>
                  </footer>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <pagination-controls
      (pageChange)="pageActual = $event"
    ></pagination-controls>
    <app-add-sony-title></app-add-sony-title>
  </div>
</section>
