<style>

    div {font-family: Verdana, Geneva, Tahoma, sans-serif; color:rgba(7, 42, 61, 0.829)}
    h4 {font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: bold; color:rgba(7, 42, 61, 0.829)}
    a {font-family: Verdana, Geneva, Tahoma, sans-serif; color:rgba(7, 42, 61, 0.829)}
    h5 {font-family: Verdana, Geneva, Tahoma, sans-serif; color:rgba(7, 42, 61, 0.829)}
    </style>
    <style>
        h6 {text-align: center;}
        </style>
        
        <div class="card-deck">
        <div class="col-md-6">
            <div class="card-body">
                <div class="card-text-right">
                  <h5>2019</h5>
                  </div>
                </div>
              </div>
                  <div class="col-md-6">
                      <div class="card-body">
                          <div class="input-group">
                              <input type="text" class="form-control" placeholder="Buscar por Titulo"
                              [(ngModel)]="searchTerm" style="max-width: 25rem;">
                              <div class="input-group-append">
                                  <button class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#modalAddSonyTitle">Agregar Titulo</button>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
<section class="row mt-5">
    <div class="col">
       <section id="sonyTitle" class="mt-5">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let sonyTitle of sonyTitles | titleSonyFilter:searchTerm | paginate: {itemsPerPage:3, currentPage: pageActual}; let i = index">
            <div class="card_book">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img class="img-fluid" src="{{sonyTitle.imageURL}}">
                  </p>
                   <h5 routerLink="/sonyTitle/{{sonyTitle.key}}" class="card-title">{{sonyTitle.movieName}}</h5>
               
                    <p class="card-text">
                      {{sonyTitle.releaseDate}}
                    </p>
                    <p class="card-text">
                      {{sonyTitle.studio}}
                    </p>
                    <footer>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modalAddSonyTitle" (click)="onPreUpdateSonyTitle(sonyTitle)">Actualizar</button>
                        &#160;&#160;&#160; 
                        <button class="btn btn-danger" (click)="deleteSonyTitle(sonyTitle.key)">Eliminar</button>
                    </footer>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
    <app-add-sony-title></app-add-sony-title>

    