<div class="modal fade" id="modalAddIncidencia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    {{ !this.dataApi.selectedIncidencia.key ? 'New Incident' : 'Update Incident'}}
                  </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
               
                    <form #incidenciaForm="ngForm" (ngSubmit)="onSaveIncidencia(incidenciaForm)" novalidate>

                        <input type="hidden" name="key" [(ngModel)]="this.dataApi.selectedIncidencia.key">
                        <input type="hidden" name="userUid" [value]="userUid">

                        <div class="form-group col-md-6">
                            <label for="Aprovacion">Aprovacion</label>
                            <input name="Aprovacion"[(ngModel)]="this.dataApi.selectedIncidencia.Aprovacion">
                        </div>

                        <div class="form-group col-md-6">
                          <label for="Checker">Checker</label>
                          <input name="Checker"[(ngModel)]="this.dataApi.selectedIncidencia.Checker">
                      </div>

                      <div class="form-group col-md-6">
                            <label for="Cine">Cine</label>
                            <input name="Cine"[(ngModel)]="this.dataApi.selectedIncidencia.Cine">
                        </div>

                        <div class="form-group col-md-6">
                                <label for="Descripcion">Descripcion</label>
                                <input name="Descripcion"[(ngModel)]="this.dataApi.selectedIncidencia.Descripcion">
                            </div>

                            <div class="form-group col-md-6">
                                    <label for="Encabezado">Encabezado</label>
                                    <input name="Encabezado"[(ngModel)]="this.dataApi.selectedIncidencia.Encabezado">
                                </div>
        
                                <div class="form-group col-md-6">
                                        <label for="Encabezado">Encabezado</label>
                                        <input name="Encabezado"[(ngModel)]="this.dataApi.selectedIncidencia.Encabezado">
                                    </div>

                                    <div class="form-group col-md-6">
                                            <label for="Fecha">Fecha</label>
                                            <input name="Fecha"[(ngModel)]="this.dataApi.selectedIncidencia.Fecha">
                                        </div>

                                        
                                        <img src="{{this.dataApi.selectedIncidencia.imageURL}}" class="rounded-circle img-thumbnail" alt="Incident">
           


                                        <div class="form-group col-md-6">
                                                <label for="timeStamp">timeStamp</label>
                                                <input name="timeStamp"[(ngModel)]="this.dataApi.selectedIncidencia.timeStamp">
                                            </div>
    


                              <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" #btnClose data-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-primary">Save Incidencia</button>
                            </div>
                      </form>
            </div>
          </div>
        </div>
      </div>