<style>
  div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(7, 42, 61, 0.829);
  }
  h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgba(7, 42, 61, 0.829);
  }
  a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(7, 42, 61, 0.829);
  }
  h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(7, 42, 61, 0.829);
  }

  .header {
    position: fixed;
    z-index: 200;
    top: 3%;
    left: 40%;
  }
</style>

<h1 class="header">
  Materiales Disney
</h1>
<section id="materialesDisney" class="mt-5">
  <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4 w-50 mx-auto">
    <div class="input-group">
      <div class="input-group-append">
        <button
          id="button-addon1"
          type="submit"
          class="btn btn-link text-primary"
        >
          <i class="fa fa-search"></i>
        </button>
      </div>
      <input
        type="text"
        placeholder="Buscar"
        aria-label="Search"
        [(ngModel)]="searchTerm"
        class="form-control border-0 bg-light"
      />
    </div>
  </div>
  <!-- Actual search box -->

  <div class="container">
    <div class="row">
      <div
        class="col-xs-12 col-sm-6 col-md-4"
        *ngFor="
          let materialDisney of materialesDisney
            | materialDisneyFilter: searchTerm
            | paginate: { itemsPerPage: 3, currentPage: pageActual };
          let i = index
        "
      >
        <div class="card_book">
          <div class="card">
            <div class="card-body text-center">
              <p>
                <img
                  class="img-fluid cardImage"
                  src="{{ materialDisney.imageURL }}"
                  alt="{{ materialDisney.Encabezado }}"
                />
              </p>
              <h5 class="card-text; font-weight:bold">
                {{ materialDisney.Theater }}
              </h5>
              <p class="card-text">
                {{ materialDisney.Title }}
              </p>
              <p class="card-text">
                {{ materialDisney.Fecha }}
              </p>
              <p class="card-text">
                {{ materialDisney.MaterialType }}
              </p>
              <!-- <h4 routerLink="/checkersdetail/{{checker.key}}" class="card-title">{{checker.checkerName}}</h4> -->
              <!--         <h4 routerLink="/incidencedetail/{{incidencia.key}}" class="card-title">{{incidencia.Cine}}</h4> -->

              <footer>
                <!--   <button class="btn btn-primary" style="background:rgb(10,137,241)" data-toggle="modal" data-target="#modalAddChecker" (click)="onPreUpdateChecker(checker)">Update</button>
                &#160;&#160;&#160;  -->
                <button
                  class="btn btn-danger"
                  (click)="deleteMaterialDisney(materialDisney.key)"
                >
                  Eliminar
                </button>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
<!--    
<section class="row mt-5">
    <div class="col">

        <div class="card-group">
            <div class="card">
              <img src="{{materialesDisney[0].imageURL}}" class="card-img-top" alt="...">
            </div>
            <div class="card">
              <div class="card-body">
                <h4 class="card-title"><strong>Cinemex Galerias Tuxtla</strong></h4>
                <p class="card-text">Ultima Visita</p>
                <p class="card-text"><small class="text-muted">Septiembre 30, 2019 a las 8:00 am</small></p>
                <table>
                <tr>
                  <tbody>Materiales</tbody>
                  <td><i class="far fa-file-alt"></i></td>
                </tr>
                <tr>
                    <thead>Poster Version 1</thead>
                    <td>5</td>
                </tr>
                <tr>
                    <thead>Banners</thead>
                    <td>3 Espacios</td>
                </tr>
                <tr>
                    <thead>Materiales Especiales</thead>
                    <td>Si</td>
                </tr>
                <tr>
                    <thead>Espacios para tematizar</thead>
                    <td>Si</td>
                </tr>
          </table>
          </div>
          </div>
          
            <div class="card">
              <img src="..." class="card-img-top" alt="FOTO Supervisor">
              <div class="card-body">
                <h4 class="card-title"><strong>Supervisor</strong></h4>
                <p class="card-text">María Elena Carballo</p>
                <p class="card-text">5 Cines</p>
                          <div class="card-group">
              <div class="card">



          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ngb-carousel>  
              <ng-template ngbSlide *ngFor="let materialDisney of materialesDisney; let i=index">  
                  <img class="img-fluid" src="{{materialDisney.imageURL}}" alt="{{materialDisney.Encabezado}}">
                  <div class="carousel-caption">  
                  </div>  
              </ng-template>    
          </ngb-carousel> 
            </div>
          </div>
        </div>
              </div>
            </div>


     

        
          
            
                    -->
