<style>
  div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(7, 42, 61, 0.829);
  }
  h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgba(7, 42, 61, 0.829);
  }
  a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(7, 42, 61, 0.829);
  }
  h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(7, 42, 61, 0.829);
  }
</style>

<section class="row mt-5">
  <div class="col">
    <section id="incidencias" class="mt-5">
      <div class="container">
        <div class="row">
          <div
            class="col-xs-12 col-sm-6 col-md-4"
            *ngFor="
              let incidencia of incidencias
                | paginate: { itemsPerPage: 3, currentPage: pageActual };
              let i = index
            "
          >
            <div class="card_book">
              <div class="card">
                <div class="card-body text-center">
                  <p>
                    <img
                      class="img-fluid"
                      src="{{ incidencia.imageURL }}"
                      alt="{{ incidencia.Encabezado }}"
                    />
                  </p>
                  <h4
                    routerLink="/incidentApprovedDetail/{{ incidencia.key }}"
                    class="card-title"
                  >
                    {{ incidencia.Cine }}
                  </h4>

                  <p class="card-text">
                    {{ incidencia.Descripcion }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <pagination-controls
      (pageChange)="pageActual = $event"
    ></pagination-controls>
  </div>
</section>
